<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.kennziffer.example"
        versionCode="1" 
        version   = "0.0.1">

    <name>Rootality News</name>

    <description>
        App for testing purpose
    </description>
    
    <gap:plugin name="GenericPush" /> <!-- latest release -->

</widget>
